.alert {
  width: 300px;
  max-width: 90%;
  position: absolute;
  text-align: center;
  right: 70px;
  top: 90px;
  background: rgba(0, 0, 0, 0.6);
  color: $secondaryColor;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
}
