.navbar-wrapper {
  background: #000;
  color: #fff;
  padding: 8px 20px;
  // height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 0;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      margin: 0 20px;
    }
  }
}

.sidenav {
  transform: translateX(-100vw);
  height: 0;
  transition: all 0.5s ease;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;

  .sidenav-item {
    color: #fff;
    margin: 20px 10px;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
}

.sidenav.visible {
  transform: translateX(0);
  height: 100%;
  transition: all 0.3s ease;
}

.meal-list-wrapper {
  text-align: center;
}

.meals-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  color: #fff;

  .meal-item {
    border: 2px solid #fff;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // * {
    //   z-index: 1;
    // }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    &__title {
      position: absolute;
      margin: 0 5px;
      color: #fff;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
}

.detailed-meal-wrapper {
  text-align: center;
}

.detailed-meal {
  text-align: center;
  color: #fff;

  img {
    max-width: 400px;
    border-radius: 10px;
    cursor: pointer;
  }

  .category__item {
    border-radius: 10px;
    margin: 0 50px;
  }

  .instructions {
    text-align: left;
  }
}

.sidenav-trigger-wrapper {
  cursor: pointer;
  padding: 2px;
  display: none;
}

.sidenav-trigger {
  background: #fff;
  width: 30px;
  height: 2px;
  position: relative;

  &::before {
    content: "";
    background: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 10px;
  }

  &::after {
    content: "";
    background: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 10px;
  }
}
