@media (max-width: 767px) {
  .meals-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 587px) {
  .meals-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .meals-list {
    grid-template-columns: 1fr;
  }

  .sidenav-trigger-wrapper {
    display: block;
  }

  .navbar {
    .logo {
      font-size: 1.5rem;
    }

    .menu {
      display: none;
    }
  }
}
